body {    
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    word-spacing: 2pt;
    hyphens: auto;
    text-align: left; /* Justification is not accessible for people with dyslexic or vision problems */
}

pre.src {
    background-color: black;
    color: white;
}

.todo {
    color: #800;
    font-weight: bold;
}
